{{#if productos.length}}
    <table class="table">
        <tr class="titulos-tabla">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Foto</th>
        </tr>
        {{#each productos}}
        <tr class="datos-tabla">
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td><img class="imagen-tabla" src={{this.thumbnail}} alt="not found"></td>
        </tr>
        {{/each}}
    </table>
{{else}}
    <h3 style="color:red;" class="text-center">No se encontraron productos</h3>
{{/if}}